@page "/stream"

<h1 class="text-center">Live Stream</h1>

<div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://player.twitch.tv/?channel=thedotnetdocs&parent=dotnetdocs.dev&muted=true"
            class="embed-responsive-item" allowfullscreen>
    </iframe>
</div>
