@inherits LayoutComponentBase
@using System.Runtime.InteropServices

<div class="main">
    <nav class="navbar navbar-dark bg-dark sticky-top px-4">
        <a class="navbar-brand d-flex align-items-center d-none d-lg-inline" href="#">
            <img src="dotnet-bot_head.svg" width="38" height="38" class="d-inline-block align-top" alt=""> &nbsp; The .NET Docs Show
        </a>

        <div class="d-flex justify-content-center">
            <NavLink class="nav-link text-light d-none d-md-inline" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home pr-2" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link text-light d-none d-md-inline" href="schedule">
                <span class="oi oi-calendar pr-2" aria-hidden="true"></span> Schedule
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link text-light" href="checklist">
                        <span class="oi oi-task pr-2" aria-hidden="true"></span> Checklist
                    </NavLink>
                    <NavLink class="nav-link text-light mr-5" href="admin">
                        <span class="oi oi-video pr-2" aria-hidden="true"></span> Shows
                    </NavLink>
                    <a class="btn btn-light" href="AzureAD/Account/SignOut"
                       role="button" title="@($"Click to sign out \"{context.User.Identity.Name}\"")">
                        <img src="ms-symbol.png" class=" pr-2" /> Sign out
                    </a>
                </Authorized>
                <NotAuthorized></NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="justify-content-end d-none d-lg-inline">
            <a href="https://www.youtube.com/channel/UCIy_nKrwrd-naf_MPWtXdLA" class="pr-2" target="_blank">
                <svg width="130" height="38">
                    <image xlink:href="youtube-logo.svg" width="130" height="38"></image>
                </svg>
            </a>
            <a href="https://www.twitch.tv/thedotnetdocs" target="_blank">
                <svg width="114" height="38">
                    <image xlink:href="twitch-logo.svg" width="114" height="38"></image>
                </svg>
            </a>
        </div>
    </nav>

    <div class="content px-4">
        @Body
    </div>

    <footer class="footer fixed-bottom bg-dark d-none d-md-inline">
        <div class="container text-center text-light py-2">
            <small>
                <span>&copy; Copyright @DateTime.UtcNow.Year</span>
                <span class="p-2">&bull;</span>
                <span>
                    <a href="https://github.com/IEvangelist/DotNetDocs.Show" target="_blank">GitHub</a>
                </span>
                <span class="p-2">&bull;</span>
                <span>Powered by @RuntimeInformation.FrameworkDescription</span>
                <span class="p-2">&bull;</span>
                <span>
                    <a href="https://twitter.com/hashtag/TheDotNetDocsShow" target="_blank">#TheDotNetDocShow</a>
                </span>
            </small>
        </div>
    </footer>
</div>
