@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.twitch.tv/thedotnetdocs" target="_blank">
            <svg width="114" height="38">
                <image xlink:href="twitch-logo.svg" width="114" height="38"></image>
            </svg>
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
