@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar navbar-dark bg-dark shadow-lg sticky-top px-4">
        <a class="navbar-brand align-items-center d-none d-lg-flex" href="#">
            <img src="docs-bot-head-lg.png" height="38"
                 class="d-inline-block align-top pr-2" alt="The .NET Docs Show"> The .NET Docs Show
        </a>

        <div class="d-flex justify-content-center">
            <NavLink class="nav-link text-light d-none d-md-inline" href="" Match="NavLinkMatch.All">
                <i class="pr-2 fas fa-home" aria-hidden="true"></i> Home
            </NavLink>
            <NavLink class="nav-link text-light d-none d-md-inline" href="schedule">
                <i class="pr-2 fas fa-calendar-day" aria-hidden="true"></i> Schedule
            </NavLink>
            <NavLink class="nav-link text-light d-none d-md-inline" href="submit">
                <i class="pr-2 fas fa-lightbulb" aria-hidden="true"></i> Ideas
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link text-light" href="checklist">
                        <i class="pr-2 fas fa-tasks" aria-hidden="true"></i> Checklist
                    </NavLink>
                    <NavLink class="nav-link text-light mr-5" href="admin">
                        <i class="pr-2 fas fa-video" aria-hidden="true"></i> Shows
                    </NavLink>
                    <a class="btn btn-light" href="AzureAD/Account/SignOut"
                       role="button" title="@($"Click to sign out \"{context.User.Identity.Name}\"")">
                        <img src="ms-symbol.png" alt="Microsoft logo" class=" pr-2" /> Sign out
                    </a>
                </Authorized>
                <NotAuthorized></NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="justify-content-end d-none d-lg-inline">
            <a href="https://www.youtube.com/channel/UCIy_nKrwrd-naf_MPWtXdLA"
               aria-label="Link to The .NET Docs Show on YouTube" class="pr-2" target="_blank">
                <svg width="130" height="38">
                    <image xlink:href="youtube-logo.svg" width="130" height="38"></image>
                </svg>
            </a>
            <a href="https://www.twitch.tv/thedotnetdocs" target="_blank"
               aria-label="Link to The .NET Docs Show on Twitch">
                <svg width="114" height="38">
                    <image xlink:href="twitch-logo.svg" width="114" height="38"></image>
                </svg>
            </a>
        </div>
    </nav>

    <div class="content px-4">
        @Body
    </div>

    <footer class="footer fixed-bottom bg-dark d-none d-md-inline">
        <div class="container text-center text-light py-2">
            <small>
                <span>&copy; Copyright @DateTime.UtcNow.Year</span>
                <span class="p-2">&bull;</span>
                <span>
                    <a href="https://github.com/IEvangelist/DotNetDocs.Show" target="_blank" class="light">
                        <i class="pr-1 fab fa-github"></i> GitHub
                    </a>
                </span>
                <span class="p-2">&bull;</span>
                <span>Powered by @RuntimeInformation.FrameworkDescription</span>
                <span class="p-2">&bull;</span>
                <span>
                    <a href="https://twitter.com/dotnetdocsshow" target="_blank" class="light">
                        <i class="pr-1 fab fa-twitter"></i> @@dotnetdocsshow
                    </a>
                </span>
            </small>
        </div>
    </footer>
</div>
