@attribute [Authorize]
@page "/admin/show/{showId}"
@inherits ShowComponent


@if (Show is null)
{
    <LoadingIndicator />
}
else
{
    <EditForm Model="Show" OnValidSubmit="(async context => await SubmitShowUpdatesAsync(context))">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="title">Title:</label>
            <InputText id="title" @bind-Value="Show.Title" class="form-control form-control-lg" />
            <ValidationMessage For="() => Show.Title" />
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <InputDate id="date" @bind-Value="Show.Date" class="form-control form-control-lg" />
            <ValidationMessage For="() => Show.Date" />
        </div>
        <div class="form-group">
            <label for="url">URL:</label>
            <InputText id="title" @bind-Value="Show.Url" class="form-control form-control-lg" />
            <ValidationMessage For="() => Show.Url" />
        </div>
        <div class="form-group">
            <label for="url">Thumbnail image:</label>
            <div class="input-group">
                <InputText id="title" @bind-Value="Show.ShowImage" class="form-control form-control-lg" />
                <div class="input-group-append">
                    @{
                        var showId = Show.VideoId;
                        var isDisabled = !showId.HasValue;
                    }
                    <input type="button" value="Select Thumbnail" class="btn btn-secondary" data-toggle="modal" data-target="#thumbnailModal"
                       disabled="@(!Show.VideoId.HasValue)" @onclick="@(_ => OnSelectShowThumbnail())">
                </div>
                <ValidationMessage For="() => Show.ShowImage" />
            </div>
        </div>

        <button type="button" class="btn btn-lg btn-secondary" disabled="@IsDisabled" @onclick="NavigateBack">Cancel</button>
        <button type="submit" class="btn btn-lg btn-primary float-right" disabled="@IsDisabled">Save</button>
    </EditForm>
}

<div class="modal fade" id="thumbnailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select show thumbnail image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (SelectedShowId != null)
                {
                    <ShowImageSelector VideoId="SelectedVideoId" ThumbnailChanged="OnThumbnailChanged" />
                }
            </div>
            <div class="modal-footer">
                <p>To select a new show image, "double click" on it.</p>
            </div>
        </div>
    </div>
</div>
