<span class="badge @(string.IsNullOrWhiteSpace(Class) ? "badge-dotnet" : Class)">
    @(Value!.ToMarkupString())
</span>

@code {
    [Parameter]
    public string? Value { get; set; } = null!;

    [Parameter]
    public string? Class { get; set; }
}
