<a href="https://twitter.com/@(Person.TwitterHandle)" target="_blank">
    <img alt="@($"{Person.FirstName} {Person.LastName}")"
         class="circle bg-twitter twitter-border"
         loading="lazy"
         src="default-twitter-img.png"
         onerror="onImageError(this);"
         data-index="1"
         data-src1="@($"http://twitimg.glitch.me/{Person.TwitterHandle}/bigger")"
         data-src2="@Person.ImageUrl"
         data-src3="default-twitter-img.png">
</a>

@code {
    [Parameter]
    public Person Person { get; set; } = null!;
}
