@inject NavigationManager Navigation
@inject IDataProtectionProvider ProtectionProvider

<div class="card mb-4 shadow">
    <img class="card-img-top img-fluid" src="default-request-thumb.png" alt=".NET bot on the beach">
    <div class="card-body">
        <h5 class="card-title">
            Submit a topic, and maybe you'll be our guest!<br />
        </h5>
        <div class="lead">@($"{ShowDateTime:MMM dd, yyyy}")</div>
        <p class="card-text">
            Are you interested in being a guest on the show? Have an idea you'd like to share with the <a href='https://twitter.com/hashtag/DeveloperCommunity' target="_blank">#DeveloperCommunity</a>? Please let us know...
        </p>
    </div>
    <div class="card-footer">
        @{
            var dateRoute = $"{ShowDateTime.Month:00}-{ShowDateTime.Day:00}-{ShowDateTime.Year}".Encrypt(ProtectionProvider!);
        }
        <button class="btn btn-sm btn-dotnet float-right"
                @onclick='@(_ => Navigation.NavigateTo($"/request/{dateRoute}"))'>
            <i class="pr-2 fas fa-envelope-open-text"></i> Submit a topic
        </button>
    </div>
</div>
@if (IsDivisableBy(1))
{
    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
}
@if (IsDivisableBy(2))
{
    <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 2 on md--></div>
}
@if (IsDivisableBy(3))
{
    <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 3 on lg--></div>
}
@if (IsDivisableBy(4))
{
    <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
}

@code {
    [Parameter]
    public DateTimeOffset ShowDateTime { get; set; }

    [Parameter]
    public int Index { get; set; }

    bool IsDivisableBy(int number) => (Index + 1) % number == 0;
}
