@page "/checklist"


<div class="container">
    <h2>Hi friend! 👋</h2>
    <p>Oh 💩, that's right... you at some point have agreed to join the .NET docs live twitch stream and have only just now thought what you'll need to have ready. Please, take a deep breath - it's fine, we're probably looking through the same checklist ourselves. But as the 📆 date approaches, take a moment to visit this checklist and work through it. We're very grateful to have you on our show and we're looking forward to it - thank you 🙏.</p>
    <h2>Come prepared 📋</h2>
    <p>
        You will need a headset with a microphone, or a dedicated microphone and headphones. You'll need a webcam, but beyond the immediately obvious - we have a few more things to consider.
    </p>
    <ul class="list no-bullets pl-4 pt-1">
        @foreach (var (id, task) in Tasks)
        {
            <TaskItem Id="@id" Task="@task" />
        }
    </ul>
    <h2>Share 💯</h2>
    <p>
        Please help share this event with the world! We operate entirely on word-of-mouth and through social media channels such as Twitter, and LinkedIn - use any the following &#35; hash tags and handles.
    </p>
    <ul>
        <li>@@camsoper (Host)</li>
        <li>@@scott_addie (Host)</li>
        <li>@@davidpine7 (Host)</li>
        <li>@@docsmsft</li>
        <li>#dotnet</li>
        <li>#dotnetdocs</li>
    </ul>
    <h2>Twitch 📺</h2>
    <p>
        We rely on Twitch, and follow thier <a href="https://www.twitch.tv/p/legal/community-guidelines" target="_blank">Twitch.tv - Community Guidelines <span class="oi oi-external-link"></span></a>. This is essential to ensuring that our show is inclusive, open, and welcoming to everyone. Our show is based on <a href="https://www.twitch.tv/thedotnetdocs" target="_blank">The .NET docs <span class="oi oi-external-link"></span></a> account.
    </p>
    <h2>Handling the unexpected 🔴</h2>
    <p>
        Nothing is actually "unexpected". There are many moving parts to making our stream successful, and things will go wrong. We will lose audio, we will lose video, we will drop calls, we will experience delays... all of these things can and will happen. We just have to roll with it, and take 'em as they come. No matter what happens, we will all remain calm and try our best to make the situation seem professional and empathic to the end user.
    </p>
</div>

@code {
    protected IDictionary<int, MarkupString> Tasks = new Dictionary<int, MarkupString>
    {
        [1] = new MarkupString("Reboot your machine"),
        [2] = new MarkupString("Silence (or temporarily disable notifications)"),
        [3] = new MarkupString("Set status as \"Do not disturb\""),
        [4] = new MarkupString("Arrive 15 minutes early - 10:45 AM CT 🕥"),
        [5] = new MarkupString("Download and install <a href='https://www.skype.com/en/get-skype' target='_blank'>Skype <span class='oi oi-external-link'></span></a>"),
        [6] = new MarkupString("Reach out sooner to befriend the <a href='https://join.skype.com/invite/uoXw3Fv3wa3m' target='_blank'>.NET Docs account <span class='oi oi-external-link'></span></a>"),
    };
}
