@page "/"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@namespace DotNetDocs.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>.NET docs shows</title>
    <base href="~/" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="The .NET docs show">
    <meta name="twitter:site" content="https://dotnetdocsweb.azurewebsites.net/">
    <meta name="twitter:description" content="View the .NET docs show schedule and past episodes.">

    <meta property="og:title" content="The .NET docs show" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dotnetdocsweb.azurewebsites.net/" />
    <meta property="og:description" content="View the .NET docs show schedule and past episodes." />
    <meta property="og:image" content="https://dotnetdocsweb.azurewebsites.net/default-thumb.png" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src="_content/Microsoft.AspNetCore.ProtectedBrowserStorage/protectedBrowserStorage.js"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#343a40"
                },
                "button": {
                    "background": "#783bd2"
                }
            },
            "theme": "classic",
            "position": "bottom-right",
            "content": {
                "message": "The .NET docs show website uses cookies to ensure the best experience on our website.",
                "href": "https://privacy.microsoft.com/en-us/privacystatement"
            }
        });
    </script>
    <script async src="~/site.js" asp-append-version="true"></script>
</body>
</html>
