@page "/"

@using DotNetDocs.Services.Models
@attribute [AllowAnonymous]

@if (_shows == null)
{
    <LoadingIndicator />
}
else if (!_shows.Any())
{
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>😥</strong> No scheduled shows... check back later!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    <h1 class="text-center">Streaming Live</h1>
    <h3 class="text-center">
        <small class="text-muted">Thursdays @@ 11:00 AM (US/Central)</small>
    </h3>
    if (_futureShows?.Any() ?? false)
    {
        <div class="text-center pb-4">
            <button class="btn btn-lg btn-dotnet" type="button" data-toggle="collapse" data-target="#collapsable" aria-expanded="false" aria-controls="collapseExample">
                <span class="oi oi-calendar"></span> &nbsp; Upcoming Schedule
            </button>
        </div>
        <div class="collapse" id="collapsable">
            <div class="card-deck">
                @foreach (var (obj, index) in _futureShows.Select((obj, index) => (obj, index)))
                {
                    if (obj is DocsShow show)
                    {
                        <ShowDetails Show="show" Index="index" />
                    }
                    else if (obj is DateTimeOffset showDate)
                    {
                        <UnscheduledShowDetails ShowDateTime="@showDate" Index="index" />
                    }
                }
            </div>
        </div>
    }
    if (_nextShow != null)
    {
        <NextShowDetails Show="_nextShow" Id="@NextShowElementId" />
    }
    if (_pastShows.Any())
    {
        <div class="card-deck">
            @foreach (var (show, index) in _pastShows.Select((show, index) => (show, index)))
            {
                <ShowDetails Show="show" Index="index" />
            }
        </div>
    }
    if (_hasMoreShows)
    {
        <div class="text-center pb-4">
            <a class="btn btn-lg btn-dotnet" href="https://www.youtube.com/channel/UCIy_nKrwrd-naf_MPWtXdLA"
               role="button" target="_blank" rel="nofollow noreferrer">
                <span class="oi oi-thumb-up"></span> &nbsp; All Episodes
            </a>
        </div>
    }
}

<div id="index-now" class="d-none">
    @($"{_now:MMM dd yyy hh:mm:ss zzzz}")
</div>
