@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --dotnet-color: #783bd2;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

    a, a:hover {
        color: rgb(38, 124, 178);
    }

span.badge > a {
    color: #fff !important;
}

a.nav-link.text-light.active {
    box-shadow: 0 4px 0 0 var(--dotnet-color);
}

.list {
    padding-left: 1rem !important;
}

.text-dotnet {
    color: var(--dotnet-color) !important;
}

.badge-dotnet {
    color: #fff;
    background-color: var(--dotnet-color);
}

.btn-dotnet {
    color: #fff;
    background-color: var(--dotnet-color);
}

.btn-dotnet:hover {
    color: #fff;
    background-color: #591CB3;
}

.badge-mvp {
    color: #fff;
    background-color: #01a6f0;
}

.badge-blue {
    color: #fff;
    background-color: #01a6f0;
}

.oi-sm {
    font-size: .7rem;
}

.grid {
    display: grid;
    height: calc(100vh - 9.1rem);
    align-items: center;
    text-align: center;
    overflow: hidden;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1em;
}

.grid-logo {
    grid-row: 2;
    grid-column: 2;
    padding: 1.5rem;
}

.grid-clouds {
    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;
    align-content: center;
}

.preparing-for-blast-off {
    animation: rumble .16s infinite alternate;
}

@keyframes rumble {
    0% {
        transform: translate(-1px, 9px) rotate(14deg);
    }
    33% {
        transform: translate(-1px, 11px) rotate(16deg);
    }
    66% {
        transform: translate(1px, 11px) rotate(14deg);
    }
    100% {
        transform: translate(1px, 9px) rotate(16deg);
    }
}


.no-bullets {
    list-style-type: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

input[type=radio]:not(:disabled):hover,
input[type=checkbox]:not(:disabled):hover,
input[type=file]:not(:disabled):hover,
input[type=color]:not(:disabled):hover,
input[type=button]:not(:disabled):hover {
    cursor: pointer;
}

.thumbnail .caption h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.show-card > a > div {
    background: #000;
}

.show-card > a:hover img {
    opacity: 0.6;
}

.show-card .show-date {
    font-size: 0.8em;
}

.label-new-show, .label-upcoming-show {
    font-size: 0.6em;
}

@media (max-width: 768px) {
    .show-card {
        max-width: 480px;
    }
}

@media (min-width: 768px) {
    .show-card {
        height: 360px;
    }
}

@media (min-width: 992px) {
    .show-card {
        height: 320px;
    }
}

@media (min-width: 1200px) {
    .show-card {
        height: 360px;
    }
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 4rem;
    display: flex;
    align-items: center;
    z-index: 7;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: center;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    padding-top: 1.1rem;
    padding-bottom: 4rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.clickable:hover,
tr.editable:hover {
    cursor: pointer;
}

    .clickable:disabled:hover, tr.editable:disabled:hover {
        cursor: not-allowed;
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
